<div class="bg-secondary-500 h-md-5 d-flex py-5 px-5 sticky" [class]="isAuth() ? 'justify-content-end' : 'justify-content-between'">

  @if (!isAuth()) {
    <div class="brand text-warning-500">
      {{ appName }}
    </div>
  }
  <div class="d-flex align-items-center ms-auto">
    @if (isAuth()) {
        <div class="user-profile d-flex align-items-center mx-5 mt-0 justify-self-end">
          <span class="avatar text-warning-500 bg-component-500 mr-2">ME</span>
          <span class="text-primary-500">{{context.}}</span>
        </div>
    }
    <div class="checkbox-apple mt-2">
      <input class="yep" id="check-apple" type="checkbox" (change)="toggleTheme()">
      <label for="check-apple"></label>
      <div style="pointer-events: none;position:absolute;font-size:12px;justify-content: space-between"
           class="d-flex pt-1 w-full text-primary-500">
        <span class="pl-1" [style]="isDarkMode ? 'opacity:1':'opacity:0'">Light</span>
        <span class="pr-2" [style]="isDarkMode ? 'opacity:0':'opacity:1'">Dark</span>
      </div>
    </div>
  </div>

</div>
