<div class="menu-wrapper p-0 m-0  ml-1 flex-column align-items-center h-screen bg-component-500">

  <div class=" pt-3 header-menu d-flex justify-content-between  align-items-center w-full">
      <div class="brand-wrapper mx-2">
      <h3 class="brand  text-warning-500 text-center" >SYNGESTIMMO</h3>
      </div>
      <div
        class="menu-toggle bg-primary-500 text-surface-500 ml-5 d-flex justif-content-center align-items-center mx-5"
        (click)="toggleButton()"
      >
          <i class="fa-solid fa-ellipsis ml-1 p-0"></i>
      </div>
  </div>

  @if(this.role === "SU")
  {
  <ul class="nav align-self-start flex-column pr-2 pt-2">
    <li class="nav-item" routerLink="/admin">
      <a class="nav-link active" aria-current="page" >Dashboard</a>
      <span class="btn btn-md circle " routerLink="/admin"><i class="fa-solid fa-sliders" ></i></span>
    </li>
    <li class="nav-item" routerLink="admin/users-managment">
      <a class="nav-link active" aria-current="page" >User Management</a>
      <span class="btn btn-md  circle hover:text-secondary-500" routerLink="admin/users-managment"><i class="fa-solid fa-users-gear" ></i></span>
    </li>
  </ul>
  }
  @if(this.role === "OWN")
  {
  <ul class="nav  align-self-start flex-column pl-2 pt-2">
    <li class="nav-item py-2">
      <a class="nav-link active" aria-current="page" routerLink="/dashboard">Dashboard</a>
    </li>
  </ul>
  }



</div>
