<div
  class="menu-wrapper p-0 m-0 flex-column align-items-center h-screen bg-component-500"
  [class.slideText]="isClosed"
>
  <div class="menu-wrapper mobile-menu-collapsed"
       [class.mobile-menu-collapsed]="isMobile"
  >

    @if (!isMobile) {
      <div class="sidebar-header align-items-center bg-secondary-500">
        <div class="brand text-warning-500" [style]="!isClosed ? 'opacity:1':'opacity:0'">{{appName}}</div>
        <div class="collapse-toggle align-items-center"
             (click)="collapseMenuButton()">
          <button class="btn-circle text-light-500 btn-md bg-warning-500">
            <i class="fa-solid fa-ellipsis"></i>
          </button>
        </div>
      </div>
    }

    @if (isMobile) {
      <div class="sidebar-header align-items-center h-md-5 px-2 mt-3 py-5 bg-secondary-600 rounded">
        <div class="brand text-warning-500" [style]="!isClosed ? 'opacity:1':'opacity:0'">{{appName}}</div>
        <div class="collapse-toggle align-items-center"
             (click)="collapseMenuButton()">
          <button class="btn-circle text-light-500 btn-md bg-warning-500">
            <i class="fa-solid fa-ellipsis"></i>
          </button>
        </div>
      </div>
    }

    <div class="list">

    <ul class="nav pr-2 pt-2" [style]="isMobile ? 'background-color:var(&#45;&#45;secondary-400,blue)':''">
      @if (this.role === "SU") {
        @for (item of menu; track item.label) {
          <li class="nav-item h-md-5"
              [routerLink]="item.url"
              [title]="item.url"
              (click)="closeIfMobile()">

            <a class="nav-link active  text-primary-500" aria-current="page" [style]="!isClosed ? 'opacity:1':'opacity:0'">{{ item.label }}</a>


              <button class="btn-circle btn-md  text-warning-500 hover:bg-warning-500 hover:text-light-500 ">
                <i [class]="item.icon"></i>
              </button>

          </li>
        }
      }
    </ul>
    </div>
    @if (this.role === "OWN") {
      <ul class="nav  align-self-start flex-column pl-2 pt-2">
        <li class="nav-item py-2">
          <a class="nav-link active" aria-current="page" routerLink="/dashboard">Dashboard</a>
        </li>
      </ul>
    }
  </div>


</div>


