<div class="menu-wrapper p-0 m-0  flex-column align-items-center h-screen bg-component-500">
  <h3 class="brand pt-3 text-warning-500  w-full h-md-15 text-center" >SYNGESTIMMO</h3>
  <ul class="nav  align-self-start flex-column pl-2 pt-2">
    <li class="nav-item py-2">
      <a class="nav-link active" aria-current="page" routerLink="/">Dashboard</a>
    </li>
    <li class="nav-item py-2">
      <a class="nav-link active" aria-current="page" routerLink="Admin">Admin</a>
    </li>
  </ul>
</div>
