@use 'styles/layout.scss' as layout;
@use 'styles/color.scss' as color;
@use 'styles/typography.scss' as typography;

*{
  margin:0;
  padding:0;
}

a{
  color: var(--primary-500,red) !important;
  &:hover{
    color: var(--warning-400,red) !important;
  }
}

