@use "sass:math";
.content {
  padding: 16px;
}
.menu-close{
  margin-left: - math.div(100vw,12) * 2 ;
}
.left-container{
  width: math.div(100vw,12) * 3 !important;
  margin-left:0.03px;
  transition: margin-left 0.3s ease-in-out;
}
