@use "sass:math";
.content {
  padding: 16px;
}
.menu-close{
  margin-left:-(math.div(100vw,12)*2 - 5) !important;
}
.left-container{
  margin-left:0.03px;
    width:(math.div(100vw,12)*2) !important;
  transition: margin-left 0.3s ease-in-out;
}

