<div class="main-container" [class.collapsed]="isCollapsed()">
  <aside class="sidebar"
  >
    <app-navbar  [appName]="appName" [isClosed]="isCollapsed()" (toggleMenuChange)="collapseMenu()" [isMobile]="isMobile()"/>
    <!--      aside men  u-->
  </aside>
  <div class="content">
    <header>

      <app-topbar [appName]="appName" [isMobile]="isMobile()" [isCollapsed]="isCollapsed()" />

    </header>
    <main class="main bg-surface-500" >
      <router-outlet></router-outlet>
    </main>
  </div>
</div>

<!--

<div class="main-container  m-0 p-0 overflow-h"
     [ngClass]="isCollapsed() ? 'menu-collapsed':'menu-open'"
 >
    <aside
      class="left-container"


    >
     <app-navbar
       [isMobile]="isMobile()"
       [isClosed]="isCollapsed()"
       [isMobileOpen]="isMobileOpen()"
       (toggleMenuChange)="collapseMenu()"
       (toggleIsClosed)="closeMenu()"
     />
    </aside>
    <div class="center-container flex-column w-sm-25  w-md-100" style="z-index:9999">
        <div class="banner-container h-md-5 w-full sticky">
          <app-topbar [isMobile]="isMobile()" [isCollapsed]="isCollapsed()"/>
        </div>
      <main class="content-container bg-surface-600 h-screen w-full">
        <router-outlet/>
      </main>
    </div>
</div>

-->
