.select-group {
  position: relative;
  height: 2.5em;
  width: 340px;
  max-width: 340px;

  .input-field {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    select.form-control, label.input-group-text {
      position: absolute;
      padding-top: .5em;
      top: 12px;
      left: 5px;
      transition: all .3s cubic-bezier(.25,.8,.25,1);
    }
    select.form-control {
      width:100%;
      outline:0;
      border:none;
      background: transparent;
      text-transform: capitalize;
      border-bottom: 1px solid #eee;
    }
    select.form-control:not(.ng-valid) ~ label.input-group-text{
      color:red;
      &:after{
        content:"*"
      }
    }
    select.form-control.ng-valid ~ label.input-group-text {
      transform:translateY(-1em);
      color:green;
    }
    option{
      border:0;
    }

  }
}
